body{
    
    background: #474747;
    color:#fff;
    font-family: 'Roboto Mono', monospace;
    font-size: 12px;
    
    
    
}


#container{
    
    width: 60%;
    background: #E6567A
    
    
}

